* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 30px;
}

.input-container input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-container button {
  background-color: #4caf50;
  border: none;
  padding: 10px;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-container button:hover {
  background-color: #45a049;
}

.task-list {
  list-style-type: none;
}

.task-list li {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.task-list li:hover {
  transform: translateY(-5px);
}

.task-list li.completed {
  background-color: #e1f7d5;
  text-decoration: line-through;
}

.task-list li span {
  font-size: 1.1rem;
  color: #333;
  flex-grow: 1;
}

.task-list li div {
  display: flex;
  gap: 10px;
}

.task-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #4caf50;
  font-size: 1.5rem;
}

.task-list button:hover {
  color: #45a049;
}
